<%- include("../../partials/header.ejs") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <%- include('../../partials/sidebar.ejs') %>
    </div>
        <div class="col-md-8 m-4">
            <div class="row">
                 <div class="card card-body  bg-light">
                        <h4 class="text-center"> <%= title  %>  </h4>
                    <div class="profile-pics">
                        <img src="<%= user.profilePics  %> " alt="profilePics"
                        class="img-thumbnail img-fluid"
                        id="profilePics">
                        <form action="./uploads/profilePics" class="my-2"
                        id="profilePicsForm">

                        <input type="file" name="profilePics" id="profilePicsFile" accept="image/*">

                        <input type="button" value="Remove Pics"
                        id="removeProfilePics"
                        style="display: <%= user.profilePics.includes("avatar.png")?"none":"block" %>"
                        
                        class="btn btn-danger btn-sm my-2">
                       </form>
                      </div>
                      <div>
                          <form action="/dashboard/edit-profile" method="POST">

                          
                            <div class="form-group">
                                <label for="name"class=" col-form-label">Enter Your Name</label>
                                <input type="text"
                                class="form-control <%= error.name ? 'is-invalid' : '' %> "
                                name="name"
                                value="<%=profile.name %>">
                                <div class="invalid-feedback">
                                  <%= error.name %>
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class=" col-form-label">Enter Your Email</label>
                                <input type="email"
                                class="form-control "
                                name="email"
                                value="<%=user.email%>"
                                disabled>
                               
                            </div>
                            <div class="form-group">
                                <label for="title" class=" col-form-label">Enter Your Short Title</label>
                                <input type="text"
                                class="form-control <%= error.title ? 'is-invalid' : '' %>"
                                name="title"
                                value="<%=profile.title %>">
                                <div class="invalid-feedback">
                                  <%= error.title%>
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="bio" class=" col-form-label">Enter Your short Bio</label>
                                <textarea name="bio" 
                                class="form-control <%= error.bio ? 'is-invalid' : '' %>"id="bio" 
                                ><%=profile.bio %></textarea>

                                <div class="invalid-feedback">
                                  <%= error.bio %>
                              </div>
                            </div>



                            <div>
                              <p class="lead"> Your Social Links</p>
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="fab fa-internet-explorer"></i>
                                      </span>

                                  </div>
                                  <input 
                                      type="text" 
                                      class="form-control <%= error.website ? 'is-invalid' : '' %>" 
                                      placeholder="Website Link"
                                      name="website"
                                      value="<%=profile.links.website %>">
                                      <div class="invalid-feedback">
                                        <%= error.website %>
                                    </div>
                                  
                              </div>
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="fab fa-facebook-square"></i>
                                      </span>
                                  </div>
                                  <input 
                                      type="text" 
                                      class="form-control <%= error.facebook ? 'is-invalid' : '' %>" 
                                      placeholder="Facebook Link"
                                      name="facebook"
                                      value="<%=profile.links.facebook %>">
                                      <div class="invalid-feedback">
                                        <%= error.facebook %>
                                    </div>
                              </div>
                             
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="fab fa-github-square"></i>
                                      </span>
                                  </div>
                                  <input 
                                      type="text" 
                                      class="form-control <%= error.github ? 'is-invalid' : '' %>" 
                                      placeholder="Github Link" 
                                      name="github"
                                      value="<%=profile.links.github %>">
                                      <div class="invalid-feedback">
                                        <%= error.github %>
                                    </div>
                              </div>
                          </div>




                            <input type="submit" class="btn btn-primary" value="Update Profile">
                          </form>
                      </div>
                    </div>
                
            </div>
        </div>
    </div>


     <!-- Modal -->
     <div class="modal fade" id="crop-modal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="cropped-image"></div>
            </div>
            <div class="modal-footer">
              <button  id="cancel-cropping" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="upload-image">Upload</button>
            </div>
          </div>
        </div>
      </div>



</div>






<%- include("../../partials/footer.ejs") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.js"></script>
<script src="/scripts/profilePicUpload.js"></script>

</body>
</html>